-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: parvamco_spl_season2_2026_dashboard
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (0,'auction_admin','$2y$10$ldkY04ptR8a5AqUK7Slg1.VAXfoFNPF1Y4ZqbbLedPEQZF9sjrelG','2026-07-21 11:07:08');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `icon_players`
--

DROP TABLE IF EXISTS `icon_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `icon_players` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `image` varchar(255) NOT NULL,
  `team_id` int(11) DEFAULT NULL,
  `bid_points` int(11) DEFAULT 0,
  `booking_status` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `icon_players`
--

LOCK TABLES `icon_players` WRITE;
/*!40000 ALTER TABLE `icon_players` DISABLE KEYS */;
INSERT INTO `icon_players` VALUES (1,'Alaknanda Srinivas','team_assets/icons/Alaknanda Srinivas.png',6,0,1),(2,'Anoop Sagar','team_assets/icons/Anoop Sagar.png',1,0,1),(3,'Cockroach Sudhi','team_assets/icons/Cockroach Sudhi.png',3,0,1),(4,'Dharma Keerthiraj','team_assets/icons/Dharma Keerthiraj.png',8,0,1),(5,'Naga Kiran','team_assets/icons/Naga Kiran.png',5,0,1),(6,'Pavan Shetty','team_assets/icons/Pavan Shetty.png',4,0,1),(7,'Vikky Varun','team_assets/icons/Vikky Varun.png',7,0,1),(8,'Vivan Akarsh','team_assets/icons/Vivan Akarsh.png',2,0,1);
/*!40000 ALTER TABLE `icon_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrations`
--

DROP TABLE IF EXISTS `registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `player_id` varchar(20) DEFAULT NULL,
  `salutation` varchar(10) DEFAULT NULL,
  `full_name` varchar(100) NOT NULL,
  `mobile` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `address` text DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `profile_pic` varchar(255) DEFAULT NULL,
  `prod_media_id` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `experience` varchar(20) DEFAULT NULL,
  `batting_type` varchar(10) DEFAULT NULL,
  `bowling_type` varchar(10) DEFAULT NULL,
  `jersey_nickname` varchar(50) DEFAULT NULL,
  `jersey_number` int(11) DEFAULT NULL,
  `jersey_size` varchar(5) DEFAULT NULL,
  `track_pant_size` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `player_id` (`player_id`)
) ENGINE=InnoDB AUTO_INCREMENT=442 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrations`
--

LOCK TABLES `registrations` WRITE;
/*!40000 ALTER TABLE `registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrations_filtered`
--

DROP TABLE IF EXISTS `registrations_filtered`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registrations_filtered` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `player_id` varchar(20) DEFAULT NULL,
  `salutation` varchar(10) DEFAULT NULL,
  `full_name` varchar(100) NOT NULL,
  `mobile` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `address` text DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `profile_pic` varchar(255) DEFAULT NULL,
  `prod_media_id` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `experience` varchar(20) DEFAULT NULL,
  `batting_type` varchar(10) DEFAULT NULL,
  `bowling_type` varchar(10) DEFAULT NULL,
  `jersey_nickname` varchar(50) DEFAULT NULL,
  `jersey_number` int(11) DEFAULT NULL,
  `jersey_size` varchar(5) DEFAULT NULL,
  `track_pant_size` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `team_id` int(11) DEFAULT NULL,
  `bid_points` int(11) DEFAULT NULL,
  `booking_status` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `player_id` (`player_id`)
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrations_filtered`
--

LOCK TABLES `registrations_filtered` WRITE;
/*!40000 ALTER TABLE `registrations_filtered` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrations_filtered` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registrations_filtered_bkp`
--

DROP TABLE IF EXISTS `registrations_filtered_bkp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registrations_filtered_bkp` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `player_id` varchar(20) DEFAULT NULL,
  `salutation` varchar(10) DEFAULT NULL,
  `full_name` varchar(100) NOT NULL,
  `mobile` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `address` text DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `profile_pic` varchar(255) DEFAULT NULL,
  `prod_media_id` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `experience` varchar(20) DEFAULT NULL,
  `batting_type` varchar(10) DEFAULT NULL,
  `bowling_type` varchar(10) DEFAULT NULL,
  `jersey_nickname` varchar(50) DEFAULT NULL,
  `jersey_number` int(11) DEFAULT NULL,
  `jersey_size` varchar(5) DEFAULT NULL,
  `track_pant_size` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `deleted_at` timestamp NULL DEFAULT NULL,
  `team_id` int(11) DEFAULT NULL,
  `bid_points` int(11) DEFAULT NULL,
  `booking_status` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `player_id` (`player_id`)
) ENGINE=InnoDB AUTO_INCREMENT=143 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registrations_filtered_bkp`
--

LOCK TABLES `registrations_filtered_bkp` WRITE;
/*!40000 ALTER TABLE `registrations_filtered_bkp` DISABLE KEYS */;
/*!40000 ALTER TABLE `registrations_filtered_bkp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_master`
--

DROP TABLE IF EXISTS `team_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `team_logo` varchar(250) NOT NULL,
  `team_name` varchar(250) NOT NULL,
  `owner` varchar(250) NOT NULL,
  `owner_img` varchar(250) DEFAULT NULL,
  `ic_player` varchar(250) NOT NULL,
  `ic_player_img` varchar(250) DEFAULT NULL,
  `pool` varchar(2) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_master`
--

LOCK TABLES `team_master` WRITE;
/*!40000 ALTER TABLE `team_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_owners`
--

DROP TABLE IF EXISTS `team_owners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_owners` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `team_id` int(11) NOT NULL,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_owners`
--

LOCK TABLES `team_owners` WRITE;
/*!40000 ALTER TABLE `team_owners` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_owners` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-22 21:17:07
